@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-bold text-mirage tracking-[-0.06rem] leading-[3.125rem];
  font-family: "Arial Grotesk";
}

.text-h1 {
  @apply text-[3.125rem];
}

.text-h2 {
  @apply text-[1.875rem];
}

.text-nav {
  @apply bg-bright-gray pt-3 text-h1 pr-1;
}

@font-face {
  font-family: "Arial Grotesk";
  src: url("/fonts/arial-grotesk-bold.woff2") format("woff2"),
    url("/fonts/arial-grotesk-bold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}
