@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-bold text-mirage text-lg;
  font-family: "Arial Grotesk";
}

.text-nav {
  @apply bg-bright-gray pt-3 pr-1;
}

.text-body {
  @apply text-base md:text-lg;
}

@font-face {
  font-family: "Arial Grotesk";
  src: url("/fonts/arial-grotesk-bold.woff2") format("woff2"),
    url("/fonts/arial-grotesk-bold.woff") format("woff");
  font-weight: 700;
  font-style: bold;
  font-display: swap;
}
